<nav>
  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell--5-col">
      <div class="dp-bread-crumb">
        <ol class="breadcrumb">
          <li data-se-group="breadcrumb__crumbs" data-se-value="infra">
            <a href="/infra">Admin</a>

          </li>
          <li data-se-group="breadcrumb__crumbs" class="active"
              data-se-value="infra.clusters">

            <span>Clusters</span>
          </li>
        </ol>
      </div>
    </div>
    <div class="mdl-layout-spacer"></div>

    <div class="actions">
      <button id="header-menu" class="mdl-button mdl-js-button" data-se="identity__menu">
        <i class="fa fa-user" aria-hidden="true"></i>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="header-menu" #popup data-se="identity__detail">
        <div class="popup-arrow-up"></div>
        <div class="menu-header">
          <div class="hwx-title" id="user-name" data-se="identity__display_name">admin1
          </div>
        </div>
        <div class="menu-footer">
          <span>&nbsp;</span>
          <a id="logout-btn" class="mdl-button btn-hwx-secondary" data-se="identity__sign_out">Logout</a>
        </div>
      </div>
    </div>

  </div>
</nav>
