<div class="sidenav" id="persona_side_nav">

  <div class="dp-header-logo borderBox dp-header-logo--active"
       data-se="app__collapsibleNav-persona">
    <img alt="Hortonworks Dataplane" src="assets/dp-logo-30.png">
    <span class="persona-drop-down-small" id="persona_drop_down"></span>
    <span class="persona-name">DataPlane Admin</span>
  </div>

  <span class="sidenav-item active" id="persona_side_nav_item_0">
    <i aria-hidden="true" class="fa fa-cubes"></i>  <span
    class="sidenav-item-name"> Clusters </span>
  </span><span class="sidenav-item" id="persona_side_nav_item_1">
    <i aria-hidden="true" class="fa fa-users"></i>  <span
  class="sidenav-item-name"> Users </span>
  </span><span class="sidenav-item" id="persona_side_nav_item_2">
    <i aria-hidden="true" class="fa fa-th-large"></i>  <span
  class="sidenav-item-name"> Services </span>
  </span><span class="sidenav-item" id="persona_side_nav_item_3">
    <i aria-hidden="true" class="fa fa-cog"></i>  <span
  class="sidenav-item-name"> Settings </span>
  </span>

  <div class="expander" id="persona_side_nav_expander" (click)="toggleSideNavigation()">

    <i class="fa fa-angle-double-left"></i>
  </div>

</div>
