:host {
  display: block;
}

.main.maximised app-header {
  left: 200px;
}

.main.minimized app-header {
  left: 50px;
}

.main.maximised {
  padding-left: 200px;
}

.main.minimized {
  padding-left: 50px;
}

.main {
  padding-top: 60px;
}
